.642_61144 {  overflow:hidden;
}.e642_61144 { 
 background-color:rgba(255, 255, 255, 1); width:1212px;
 height:695px; position:absolute;
}.e642_61059 { 
 background-color:rgba(221.24999821186066, 221.24999821186066, 221.24999821186066, 1); width:144px;
 height:33px; position:absolute;
 left:534px; top:520px;
 border-top-left-radius:54px; border-top-right-radius:54px;
 border-bottom-left-radius:54px; border-bottom-right-radius:54px;
}.ei642_61059_603_27 { 
 color:rgba(0, 0, 0, 1); width:106px;
 height:25px; position:absolute;
 left:19px; top:4px;
 font-family:VK Sans Display; text-align:left;
 font-size:20px; letter-spacing:0;
}.e642_61145 { 
 background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1); width:586px;
 height:335px; position:absolute;
 left:313px; top:142px;
 border-top-left-radius:28px; border-top-right-radius:28px;
 border-bottom-left-radius:28px; border-bottom-right-radius:28px;
}.642_61145 { 
 border:3px solid rgba(0, 0, 0, 1);}
.e642_61152 {  background-color:rgba(244.57422584295273, 92.93827816843987, 92.93827816843987, 1);
 width:176px; height:33px;
 position:absolute; left:518px;
 top:327px; border-top-left-radius:54px;
 border-top-right-radius:54px; border-bottom-left-radius:54px;
 border-bottom-right-radius:54px;}
.ei642_61152_603_27 {  color:rgba(0, 0, 0, 1);
 width:138px; height:25px;
 position:absolute; left:19px;
 top:4px; font-family:VK Sans Display;
 text-align:left; font-size:20px;
 letter-spacing:0;}
.e642_61147 {  color:rgba(0, 0, 0, 1);
 width:293px; height:30px;
 position:absolute; left:460px;
 top:254px; font-family:VK Sans Display;
 text-align:left; font-size:24px;
 letter-spacing:0;}
.e642_61148 {  color:rgba(0, 0, 0, 1);
 width:36px; height:25px;
 position:absolute;
 left:588px; top:288px;
 font-family:VK Sans Display; text-align:left;
 font-size:20px; letter-spacing:0;
}.e642_61158 { 
 color:rgba(0, 0, 0, 1);
 width:123px; height:20px;
 position:absolute; left:545px;
 top:364px; font-family:VK Sans Display;
 text-align:left; font-size:16px;
 letter-spacing:0;}
